body{
    background-image: url(images/bg-image.jpg);
    background-size: cover;

}

.form-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fefefea3;
    width: 500px;
    height: 600px;
    border-radius: 40px;
    box-shadow: 12px 15px 10px #00000038;
    margin-left: 5%;
    text-align: center;
}

h1{
    padding-top: 40px;
    color: rgb(29, 189, 165);
}


input[type=text]{
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    background-color: #ffffff19;
    margin-top: 15px;
    padding-left: 15px;
}

input[type=email]{
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    background-color: #ffffff19;
    margin-top: 15px;
    padding-left: 15px;
}
input[type=password]{
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    background-color: #ffffff19;
    margin-top: 15px;
    padding-left: 15px;
}

input[type=submit]{
    background-color: rgb(0, 226, 192);
    color: white;
    width: 90px;
    height: 40px;
    border: none;
    margin-right: 10%;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.79, 0.19, 0, 0.85);
    margin-top: 10px;
}

input[type=submit]:hover{
    background-color: rgb(29, 189, 165);
    color: white;
}


input[type=reset]{
    background-color: rgb(226, 0, 0);
    color: white;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.79, 0.19, 0, 0.85);
}

input[type=reset]:hover{
    background-color: rgb(174, 36, 36);
    color: white;
}