p{
    color: blueviolet;
}
/* for using class you need to give a "." before the class name for example ".nasir" instead of just a single tag name like "nasir" */

.nasir {
    color:rgb(220, 226, 43) 
}
.one{
    font-weight: bold;
    text-decoration: line-through;
    font-style: italic;
}
.two {
    font-weight: bold;
    text-decoration: overline;
}
.three {
    font-style: italic;
    text-decoration: underline;
}
/* for using id you need to give a "#" before the "id" name for example "#faisal" */

#faisal{
    color: #1752A6;
    font-weight: bold;
}